@model AtekKurumsal.Models.HomePageViewModel

<body id="index" class="index show-left-column hide-right-column lang_en  two-columns">

    <div id="page">
        <div id="preloader"></div>

        <div class="columns-container">


            <div class="row it_THJUMCGUVWTL ">
                <div class="it_EWCMVJKRHGDI col-xs-12   col-lg-12 padding-zero">
                    <div class="slider rs-slider">
                        <div class="tp-banner-container">

                            <div class="tp-banner">
                                <ul style="display: block; overflow: hidden; width: 100%;  max-height: none;">

                                    <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; opacity: 1; visibility: visible; left: 100%; top: 0px;" class="">
                                        <div class="elements">

                                            <div class="tp-caption lft customout start" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1400" data-start="1200" data-easing="Power4.easeOut" data-endeasing="Power1.easeIn" style="z-index: 9999; left: 6%; top: 7%; visibility: visible; opacity: 0; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                                <img id="air-tower" src="~/assets/img/Slide/garaj-montaj3_0000_air-tower.png" alt="Yüce Yazılım Otomotiv Programları">
                                            </div>

                                            <div class="tp-caption lft customout start" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1800" data-endspeed="300" data-start="2100" data-easing="Power4.easeOut" data-endeasing="Power1.easeIn" style="z-index: 9999; left: 16%; top: 0%; visibility: visible; opacity: 0; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                                <img id="blacktech" src="~/assets/img/Slide/garaj-montaj3-1_0007_blacktech.png" alt="Yüce Yazılım Otomotiv Programları">
                                            </div>

                                            <div class="tp-caption lfl lft start" data-speed="2100" data-start="900" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 3; left: 32%; top:30%; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -291, 0, 0, 1);">
                                                <img id="toptul" src="~/assets/img/Slide/garaj-montaj3-1_0008_toptul.png" alt="Yüce Yazılım Otomotiv Programları">
                                            </div>

                                            <div class="tp-caption lft customout start" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1800" data-start="2700" data-easing="Power4.easeOut" data-endeasing="Power1.easeIn" style="z-index: 9999; left: 58%; top: 5%; visibility: visible; opacity: 0; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                                <img id="jantduzeltme" src="~/assets/img/Slide/garaj-montaj3-1_0002_jant-d]zeltme.png" alt="Yüce Yazılım Otomotiv Programları">
                                            </div>

                                            <div class="tp-caption customin customout start" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1800" data-start="1300" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5; left: 76%; top: 10%; visibility: visible; opacity: 1; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                                                <img id="eyelight" src="~/assets/img/Slide/garaj-montaj3-1_0006_eyelight.png" alt="Yüce Yazılım Otomotiv Programları">
                                            </div>

                                            <div class="tp-caption lfr skewtoright description start" data-speed="2000" data-start="400" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="min-height: 0px; min-width: 0px; line-height: 25px; border-width: 0px; margin: 0px; padding: 0px 15px; letter-spacing: 0px; font-size: 17px; left: 87%; top: 25%; visibility: visible; opacity: 0; max-width: 480px; transition: all 0s ease 0s; transform: matrix3d(1, 0, 0, 0, 0.57357, 0.81915, 0, 0, 0, 0, 1, -0.0025, 2174, 0, 0, 1);">
                                                <img id="robatek" src="~/assets/img/Slide/garaj-montaj3-1_0005_robatek.png" alt="Yüce Yazılım Otomotiv Programları">
                                            </div>

                                            <div class="tp-caption lfb skewtobottom customin customout phone-text start" data-customin="x:0;y:55;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:55;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="800" data-start="3100" data-easing="Power0.easeOut" data-endspeed="400" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 2; min-height: 0px; min-width: 0px; line-height: 27px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 17px; left: 13.9%; top: 70%; visibility: visible; opacity: 1; transform-origin: 50% 50% 0px; transition: all 0s ease 0s; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                                                <img id="rotlifti" src="~/assets/img/Slide/garaj-montaj3-1_0003_rot-lifti.png" alt="Yüce Yazılım Otomotiv Programları">
                                            </div>

                                            <div class="tp-caption lfb skewtobottom customin customout phone-text start" data-customin="x:0;y:55;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:55;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="800" data-start="3100" data-easing="Power0.easeOut" data-endspeed="400" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 2; min-height: 0px; min-width: 0px; line-height: 27px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 17px; left: 56%; top: 79%; visibility: visible; opacity: 1; transform-origin: 50% 50% 0px; transition: all 0s ease 0s; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                                                <img id="resepsiyonlift" src="~/assets/img/Slide/garaj-montaj3-1_0001_resepsiyon-lift.png" alt="Yüce Yazılım Otomotiv Programları">
                                            </div>

                                            <div class="tp-caption lft customout start" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1800" data-endspeed="300" data-start="3400" data-easing="Power4.easeOut" data-endeasing="Power1.easeIn" style="z-index: 9999; left: 4.5%; top: 0px; visibility: visible; opacity: 0; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                                <img id="tavanaydınlatma" src="~/assets/img/Slide/garaj-montaj3-1_0000_tavan-aydınlatma.png" alt="Yüce Yazılım Otomotiv Programları">
                                            </div>

                                            <img src="~/assets/img/Slide/background.png" style="width:100%; height:100%;" />
                                        </div>
                                    </li>

                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

      

            <div class="row it_ATIPRQVYGLOM md_mod">
                <div class="it_CNZOESEKTWVL    col-lg-12 padding-zero__mod">
                    <div class="module ">
                        <div id="cmsinfo_block">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                                <div class="box">
                                    <div class="customcms_content">
                                        <h2><a href="index.php?id_cms=7&amp;controller=cms">Lastik Servisi</a></h2>
                                        <p>returns within 7 days</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                                <div class="box">
                                    <div class="customcms_content">
                                        <h2><a href="index.php?id_cms=1&amp;controller=cms">Mobil Servis</a></h2>
                                        <p>on all standard orders</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                                <div class="box">
                                    <div class="customcms_content">
                                        <h2><a href="index.php?id_cms=9&amp;controller=cms">Otomobil Servisi</a></h2>
                                        <p>support service 24/7</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                                <div class="box">
                                    <div class="customcms_content">
                                        <h2><a href="index.php?id_cms=8&amp;controller=cms">Otomobil Expertizi</a></h2>
                                        <p>all tools</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-wrap">

                <div class="row it_JSFVNCHFLZUA mosaik-TopColumn">
                    <div class="it_JQVJJDQUMPXI  col-lg-12 ">
                        <div class="module ">
                            <div class="clearfix"></div>
                            <div class="block mosaic-block">
                                <div id="block-container-row-1-2" class="block-container-row block-container-row-1">
                                    <ul class="clearfix tmmp_row_4 row">

                                        <li class="col-xs-6 col-sm-4 col-md-4">
                                            <ul class="row">

                                                <li class="col-xs-12">
                                                    <div class="tmmp-frontend-banner tmmp-frontend-banner-2 banner_content_left">
                                                        <a href="index.php?id_category=14&amp;controller=category" title="bannertop">
                                                            <img class="img-responsive" src="~/assets/img/SlideAltKisim/sd/atekmakina.jpg" alt="bannertop" />
                                                            @*<div class="tmmp-banner-description">
                                                        <div>
                                                            <h2>bestsellers in 2015</h2>
                                                        </div>
                                                    </div>*@
                                                        </a>
                                                    </div>
                                                </li>

                                                <li class="col-xs-12">
                                                    <div class="tmmp-frontend-banner tmmp-frontend-banner-3 banner_content_right">
                                                        <a href="index.php?id_category=15&amp;controller=category" title="bannertop">
                                                            <img class="img-responsive" src="~/assets/img/SlideAltKisim/sd/atekakademi.jpg" alt="bannertop" />
                                                            @*<div class="tmmp-banner-description">
                                                        <div>
                                                            <p class="custom">Showers</p>
                                                            <h2>from $21.55</h2>
                                                        </div>
                                                    </div>*@
                                                        </a>
                                                    </div>
                                                </li>

                                            </ul>
                                        </li>

                                        <li class="col-xs-6 col-sm-4 col-md-4">
                                            <ul class="row">

                                                <li class="col-xs-12">
                                                    <div class="tmmp-frontend-banner tmmp-frontend-banner-2 banner_content_left">
                                                        <a href="index.php?id_category=14&amp;controller=category" title="bannertop">
                                                            <img class="img-responsive" src="~/assets/img/SlideAltKisim/sd/atekengineering.jpg" alt="bannertop" />
                                                            @*<div class="tmmp-banner-description">
                                                        <div>
                                                            <h2></h2>
                                                        </div>
                                                    </div>*@
                                                        </a>
                                                    </div>
                                                </li>

                                                <li class="col-xs-12">
                                                    <div class="tmmp-frontend-banner tmmp-frontend-banner-3 banner_content_right">
                                                        <a href="index.php?id_category=15&amp;controller=category" title="bannertop">
                                                            <img class="img-responsive" src="~/assets/img/SlideAltKisim/sd/ateklift.jpg" alt="bannertop" />
                                                            @*<div class="tmmp-banner-description">
                                                        <div>
                                                            <p class="custom"></p>
                                                            <h2></h2>
                                                        </div>
                                                    </div>*@
                                                        </a>
                                                    </div>
                                                </li>

                                            </ul>
                                        </li>

                                        <li class="col-xs-6 col-sm-4 col-md-4">
                                            <ul class="row">
                                                <li class="col-xs-12">
                                                    <div class="tmmp-frontend-banner tmmp-frontend-banner-2 banner_content_left">
                                                        <a href="index.php?id_category=14&amp;controller=category" title="bannertop">
                                                            <img class="img-responsive" src="~/assets/img/SlideAltKisim/sd/atekbulgarca.jpg" alt="bannertop" />
                                                            @*<div class="tmmp-banner-description">
                                                        <div>
                                                            <h2>bestsellers in 2015</h2>
                                                        </div>
                                                    </div>*@
                                                        </a>
                                                    </div>
                                                </li>

                                                <li class="col-xs-12">
                                                    <div class="tmmp-frontend-banner tmmp-frontend-banner-3 banner_content_right">
                                                        <a href="index.php?id_category=15&amp;controller=category" title="bannertop">
                                                            <img class="img-responsive" src="~/assets/img/SlideAltKisim/sd/cityhotel.jpg" alt="bannertop" />
                                                            @*<div class="tmmp-banner-description">
                                                        <div>
                                                            <p class="custom"></p>
                                                            <h2></h2>
                                                        </div>
                                                    </div>*@
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row it_OPGQGBHYQNHK parallax-home1-product">
                    <div class="it_SHXNINBWPRTK    col-lg-12 ">
                        <div class="module dealofday__mod">
                            <div class="clearfix"></div>
                            <div id="daydeal-products" class="block products_block">
                                <div class="block-heading">
                                    <h4 class="title_block">Popüler Ürünler</h4>
                                    <hr class="hr__mod">
                                    <p><span>Save up to 30% off your first order</span></p>
                                </div>
                                <div class="block_content">
                                    <ul class="products product_list  clearfix row">

                                        <li class="col-xs-12 col-sm-4 col-md-4">
                                            <div class="product-container">
                                                <div class="left-block">
                                                    <div class="product-image-container">
                                                        <a class="product_img_link" href="" title="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel">
                                                            <img class="img-responsive" src="/assets/img/PopulerUrun/hpj.png" alt="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" />
                                                        </a>
                                                    </div>

                                                </div>

                                                <div class="right-block">
                                                    <h5>
                                                        <a class="product-name" href="" title="HPJ 50T3">HPJ 50T3</a>
                                                    </h5>

                                                    <div class="clearfix button-container">
                                                        <a class="button lnk_view btn btn-default" href="" title="View">
                                                            <span>View</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-xs-12 col-sm-4 col-md-4">
                                            <div class="product-container">
                                                <div class="left-block">
                                                    <div class="product-image-container">
                                                        <a class="product_img_link" href="" title="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel">
                                                            <img class="img-responsive" src="/assets/img/PopulerUrun/pangea.png" alt="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" />
                                                        </a>
                                                    </div>

                                                </div>

                                                <div class="right-block">
                                                    <h5>
                                                        <a class="product-name" href="" title="PANGEA">PANGEA</a>
                                                    </h5>

                                                    <div class="clearfix button-container">
                                                        <a class="button lnk_view btn btn-default" href="" title="View">
                                                            <span>View</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-xs-12 col-sm-4 col-md-4">
                                            <div class="product-container">
                                                <div class="left-block">
                                                    <div class="product-image-container">
                                                        <a class="product_img_link" href="" title="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel">
                                                            <img class="img-responsive" src="/assets/img/PopulerUrun/robatek.png" alt="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" />
                                                        </a>
                                                    </div>

                                                </div>

                                                <div class="right-block">
                                                    <h5>
                                                        <a class="product-name" href="" title="ROBATEK">ROBATEK</a>
                                                    </h5>

                                                    <div class="clearfix button-container">
                                                        <a class="button lnk_view btn btn-default" href="" title="View">
                                                            <span>View</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                

                <div class="row it_TXBFAWSSFNPS ">
                    <div class="it_QKKTTDBYKWMD col-xs-12   col-lg-12 container">
                        <div class="module ">
                            <section id="block-category-1_12" class="block category-block">
                                <h4 class="title_block"><a href=""> Referanslarımız     </a></h4>

                                <ul class="product_list grid row">
                                    @foreach (var item in Model.Marka)
                                    {

                                    <li class="ajax_block_product  col-xs-12 col-sm-6 col-md-4 first-in-line last-line first-item-of-tablet-line last-item-of-mobile-line">
                                        <div class="product-container">
                                            <div class="left-block">

                                                <div class="product-image-container">
                                                    <a class="product_img_link">
                                                        <img class="replace-2x img-responsive" src="@item.Image" title="@item.MarkaAciklama" itemprop="image" />
                                                    </a>
                                                </div>

                                            </div>

                                            <div class="right-block">
                                                <h5 itemprop="name">
                                                    <a class="product-name" href="" itemprop="url">
                                                        <span class="grid-name">@item.MarkaAdi</span>
                                                    </a>
                                                </h5>
                                            </div>
                                        </div>
                                    </li>
                                    }
                                </ul>

                            </section>

                            <script type="text/javascript">
                                $(document).ready(function () {
                                    setNbCatItems();
                                    tmCategoryCarousel1_12 = $('#block-category-1_12 > ul').bxSlider({
                                        responsive: true,
                                        useCSS: false,
                                        minSlides: tm_cps_carousel_nb_new,
                                        maxSlides: tm_cps_carousel_nb_new,
                                        slideWidth: tm_cps_carousel_slide_width,
                                        slideMargin: tm_cps_carousel_slide_margin,
                                        infiniteLoop: tm_cps_carousel_loop,
                                        hideControlOnEnd: tm_cps_carousel_hide_control,
                                        randomStart: tm_cps_carousel_random,
                                        moveSlides: tm_cps_carousel_item_scroll,
                                        pager: tm_cps_carousel_pager,
                                        autoHover: tm_cps_carousel_auto_hover,
                                        auto: tm_cps_carousel_auto,
                                        speed: tm_cps_carousel_speed,
                                        pause: tm_cps_carousel_auto_pause,
                                        controls: tm_cps_carousel_control,
                                        autoControls: tm_cps_carousel_auto_control,
                                        startText: '',
                                        stopText: '',
                                    });

                                    var tm_cps_doit;
                                    $(window).resize(function () {
                                        clearTimeout(tm_cps_doit);
                                        tm_cps_doit = setTimeout(function () {
                                            resizedwtm_cps1_12();
                                        }, 201);
                                    });
                                });
                                function resizedwtm_cps1_12() {
                                    setNbCatItems();
                                    tmCategoryCarousel1_12.reloadSlider({
                                        responsive: true,
                                        useCSS: false,
                                        minSlides: tm_cps_carousel_nb_new,
                                        maxSlides: tm_cps_carousel_nb_new,
                                        slideWidth: tm_cps_carousel_slide_width,
                                        slideMargin: tm_cps_carousel_slide_margin,
                                        infiniteLoop: tm_cps_carousel_loop,
                                        hideControlOnEnd: tm_cps_carousel_hide_control,
                                        randomStart: tm_cps_carousel_random,
                                        moveSlides: tm_cps_carousel_item_scroll,
                                        pager: tm_cps_carousel_pager,
                                        autoHover: tm_cps_carousel_auto_hover,
                                        auto: tm_cps_carousel_auto,
                                        speed: tm_cps_carousel_speed,
                                        pause: tm_cps_carousel_auto_pause,
                                        controls: tm_cps_carousel_control,
                                        autoControls: tm_cps_carousel_auto_control,
                                        startText: '',
                                        stopText: '',
                                    });
                                }

                                function setNbCatItems() {
                                    if ($('.category-block').width() < 400)
                                        tm_cps_carousel_nb_new = 1;
                                    if ($('.category-block').width() >= 400)
                                        tm_cps_carousel_nb_new = 2;
                                    if ($('.category-block').width() >= 560)
                                        tm_cps_carousel_nb_new = 3;
                                    if ($('.category-block').width() > 840)
                                        tm_cps_carousel_nb_new = tm_cps_carousel_nb;
                                }
                            </script>

                        </div>
                    </div>
                </div>


                <div class="row it_DKQMNJDQUGKI ">
                    <div class="it_VXJABYCPGBJO    col-lg-12 ">
                        <div class="module ">
                            <div id="tmhtmlcontent_home">
                                <ul class="tmhtmlcontent-home clearfix row">
                                    <li class="tmhtmlcontent-item-1  col-xs-6  banner-home1">
                                        <a href="index.php?id_category=15&amp;controller=category" class="item-link" title="">
                                            <img src="~/assets/img/IkiParca/katalog.jpg" class="item-img " title="" alt="" width="726" height="381" />
                                            <div class="item-html">
                                                <h2>Katalog</h2>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="tmhtmlcontent-item-2  col-xs-6  banner-home1">
                                        <a href="http://www.atekmakina.com.tr/fuar360/sanaltur.html" class="item-link" title="">
                                            <img src="~/assets/img/IkiParca/360.jpg" class="item-img " title="" alt="" width="726" height="381" />
                                            <div class="item-html">
                                                <h2>Sanal Tur</h2>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row it_SHUFUWKPQQAR blog-layout-carousel">
                    <div class="it_UVSARGECNTKD    col-lg-12 container">
                        <div class="module ">
                            <section id="homepage-blog" class="block">
                                <h4 class='title_block'><a href="">Latest News</a></h4>
                                <div class="block_content">
                                    <ul class="row">
                                        @foreach(var item in Model.Haberler)
                                        { 
                                        <li class=" col-lg-12 col-sm-12  ">
                                            <div class="blog-image">
                                                <a href="">
                                                    <img alt="Kohler’s touchless Toilet Flush Kit" class="img-responsive" src="@item.Image">
                                                </a>
                                            </div>

                                            <div class="blog-content">
                                                <p class="date-added">@item.CreateDate.Value.ToShortDateString()</p>
                                                <h5><a class="product-name" href="">@item.HaberBaslik</a></h5>

                                                <hr class="hr_mod">

                                                <p class="post-descr">
                                                    @item.HaberAciklama
                                                </p>

                                                <div class="btn-wrapper">
                                                    <a href="" class="btn btn-default"><span>View all posts</span></a>
                                                </div>

                                            </div>
                                        </li>
                                        }
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>


