
<html >

<head>
    <meta charset="utf-8" />
    <title> Bathroom  - Plumbre</title>

    <link rel="stylesheet" href="~/assets/css/cssSlider/style.css" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/assets/img/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href=" //fonts.googleapis.com/css?family=Montserrat:400,700&amp;subset=latin,latin-ext" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/global.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/autoload/highdpi.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/autoload/jquery.bxslider.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/autoload/responsive-tables.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/autoload/uniform.default.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/js/jquery/plugins/fancybox/jquery.fancybox.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/product_list.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/blockcart/blockcart.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/js/jquery/plugins/bxslider/jquery.bxslider.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/blockcategories/blockcategories.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/blockcurrencies/blockcurrencies.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/modules/blockfacebook/css/blockfacebook.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/blocklanguages/blocklanguages.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/blockcontact/blockcontact.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/blocknewsletter/blocknewsletter.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/blocksearch/blocksearch.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/js/jquery/plugins/autocomplete/jquery.autocomplete.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/blocktags/blocktags.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/blockuserinfo/blockuserinfo.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/blockviewed/blockviewed.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/homeslider/homeslider.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/homefeatured/homefeatured.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/blockpermanentlinks/blockpermanentlinks.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/themeconfigurator/css/hooks.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/smartblog/css/smartblogstyle.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/productcomments/productcomments.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/smartbloghomelatestnews/css/smartbloglatestnews.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/smartblogtag/css/smartblogtags.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/tmsociallogin/views/css/front.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/tmheaderaccount/views/css/front.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/modules/tmproductvideos/views/css/video/video-js.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/modules/tmproductvideos/views/css/tmproductvideos.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/tmnewsletter/views/css/tmnewsletter.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/tmsearch/views/css/tmsearch.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/tmmegamenu/views/css/tmmegamenu.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/tmmosaicproducts/views/css/tmmosaicproducts.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/modules/tmmosaicproducts/views/css/video/video-js.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/modules/tmdaydeal/views/css/tmdaydeal.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/tmcategoryproducts/views/css/tmcategoryproducts.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/tmmegalayout/views/css/tmmegalayout.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/blockwishlist/blockwishlist.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/modules/tmmediaparallax/views/css/tmmediaparallax.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/modules/tmmediaparallax/views/css/rd-parallax.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/themeconfigurator/css/live_configurator.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/modules/themeconfiglink/views/css/themeconfiglink.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/modules/tmmegalayout/views/css/layouts/Footer1.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/assets/modules/tmmegalayout/views/css/layouts/Header2.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/assets/modules/tmmegalayout/views/css/layouts/HeaderAnasayfa.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/modules/tmmegalayout/views/css/layouts/Header1.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/modules/tmmegalayout/views/css/layouts/Home1.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/modules/tmmegalayout/views/css/layouts/TopColumn1.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/modules/blocklayered/blocklayered.css" type="text/css" media="all">
    @*<link rel="stylesheet" href="~/assets/css/PagedList.css" type="text/css" media="all">*@
    <link rel="stylesheet" href="/assets/css/product.css" type="text/css" media="all">

    <script type="text/javascript">
        var CUSTOMIZE_TEXTFIELD = 1;
        var FancyboxI18nClose = 'Close';
        var FancyboxI18nNext = 'Next';
        var FancyboxI18nPrev = 'Previous';
        var added_to_wishlist = 'The product was successfully added to your wishlist.';
        var ajax_allowed = true;
        var ajaxsearch = true;
        var baseDir = 'http://ld-prestashop.template-help.com/prestashop_59032/';
        var baseUri = 'http://ld-prestashop.template-help.com/prestashop_59032/index.php';
        var blocking_popup = '1';
        var blocklayeredSliderName = { "price": "price", "weight": "weight" };
        var blocksearch_type = 'top';
        var comparator_max_item = 2;
        var comparedProductsIds = [];
        var contentOnly = false;
        var currency = { "id": 1, "name": "$", "iso_code": "USD", "iso_code_num": "840", "sign": "$", "blank": "0", "conversion_rate": "1.000000", "deleted": "0", "format": "1", "decimals": "1", "active": "1", "prefix": "$ ", "suffix": "", "id_shop_list": null, "force_id": false };
        var currencyBlank = 0;
        var currencyFormat = 1;
        var currencyRate = 1;
        var currencySign = '$';
        var customizationIdMessage = 'Customization #';
        var delete_txt = 'Delete';
        var displayList = false;
        var filters = [{ "type_lite": "category", "type": "category", "id_key": 0, "name": "Categories", "values": { "18": { "name": "Faucets", "nbr": 20, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#categories-faucets", "rel": "nofollow" }, "19": { "name": "Showers", "nbr": 20, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#categories-showers", "rel": "nofollow" }, "20": { "name": "Toilets", "nbr": 20, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#categories-toilets", "rel": "nofollow" }, "21": { "name": "Accessories", "nbr": 20, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#categories-accessories", "rel": "nofollow" } }, "filter_show_limit": "0", "filter_type": "0" }, { "type_lite": "manufacturer", "type": "manufacturer", "id_key": 0, "name": "Manufacturer", "values": { "3": { "name": "American Standard", "nbr": "2", "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#manufacturer-american_standard", "rel": "nofollow" }, "9": { "name": "Brass Craft", "nbr": "2", "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#manufacturer-brass_craft", "rel": "nofollow" }, "7": { "name": "DANCO", "nbr": "2", "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#manufacturer-danco", "rel": "nofollow" }, "2": { "name": "Delta", "nbr": "2", "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#manufacturer-delta", "rel": "nofollow" }, "10": { "name": "Franke", "nbr": "2", "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#manufacturer-franke", "rel": "nofollow" }, "6": { "name": "GROHE", "nbr": "2", "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#manufacturer-grohe", "rel": "nofollow" }, "5": { "name": "Hansgrohe", "nbr": "2", "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#manufacturer-hansgrohe", "rel": "nofollow" }, "11": { "name": "Insinkerator", "nbr": "2", "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#manufacturer-insinkerator", "rel": "nofollow" }, "8": { "name": "KOHLER", "nbr": "2", "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#manufacturer-kohler", "rel": "nofollow" }, "4": { "name": "MOEN", "nbr": "2", "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#manufacturer-moen", "rel": "nofollow" } }, "filter_show_limit": "0", "filter_type": "0" }, { "type_lite": "id_attribute_group", "type": "id_attribute_group", "id_key": 3, "name": "Color", "is_color_group": false, "values": { "5": { "color": "#AAB2BD", "name": "Grey", "nbr": 16, "url_name": null, "meta_title": null, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#color-grey", "rel": "" }, "7": { "color": "#f5f5dc", "name": "Beige", "nbr": 4, "url_name": null, "meta_title": null, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#color-beige", "rel": "" }, "8": { "color": "#ffffff", "name": "White", "nbr": 3, "url_name": null, "meta_title": null, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#color-white", "rel": "" }, "10": { "color": "#E84C3D", "name": "Red", "nbr": 1, "url_name": null, "meta_title": null, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#color-red", "rel": "" }, "11": { "color": "#434A54", "name": "Black", "nbr": 8, "url_name": null, "meta_title": null, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#color-black", "rel": "" }, "14": { "color": "#5D9CEC", "name": "Blue", "nbr": 4, "url_name": null, "meta_title": null, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#color-blue", "rel": "" }, "16": { "color": "#F1C40F", "name": "Yellow", "nbr": 3, "url_name": null, "meta_title": null, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#color-yellow", "rel": "" }, "17": { "color": "#964B00", "name": "Brown", "nbr": 3, "url_name": null, "meta_title": null, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#color-brown", "rel": "" }, "24": { "color": "#FCCACD", "name": "Pink", "nbr": 1, "url_name": null, "meta_title": null, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#color-pink", "rel": "" } }, "url_name": "color", "meta_title": "", "filter_show_limit": "0", "filter_type": "0" }, { "type_lite": "id_attribute_group", "type": "id_attribute_group", "id_key": 4, "name": "Fitting or Connector Type", "is_color_group": false, "values": { "25": { "color": "", "name": "Adapter or Coupling", "nbr": 9, "url_name": null, "meta_title": null, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#fitting_or_connector_type-adapter_or_coupling", "rel": "" }, "26": { "color": "", "name": "Bushing", "nbr": 16, "url_name": null, "meta_title": null, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#fitting_or_connector_type-bushing", "rel": "" }, "27": { "color": "", "name": "Cap", "nbr": 19, "url_name": null, "meta_title": null, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#fitting_or_connector_type-cap", "rel": "" }, "28": { "color": "", "name": "Elbow", "nbr": 15, "url_name": null, "meta_title": null, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#fitting_or_connector_type-elbow", "rel": "" }, "29": { "color": "", "name": "Flange", "nbr": 7, "url_name": null, "meta_title": null, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#fitting_or_connector_type-flange", "rel": "" } }, "url_name": null, "meta_title": null, "filter_show_limit": "0", "filter_type": "0" }, { "type_lite": "id_feature", "type": "id_feature", "id_key": 12, "values": { "89": { "nbr": 5, "name": "Aluminum", "url_name": null, "meta_title": null, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#material-aluminum", "rel": "" }, "90": { "nbr": 11, "name": "Cast Iron", "url_name": null, "meta_title": null, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#material-cast_iron", "rel": "" }, "91": { "nbr": 4, "name": "Copper", "url_name": null, "meta_title": null, "link": "http:\/\/ld-prestashop.template-help.com\/prestashop_59032\/index.php?id_category=12&controller=category&id_lang=1#material-copper", "rel": "" } }, "name": "Material", "url_name": null, "meta_title": null, "filter_show_limit": "0", "filter_type": "0" }];
        var freeProductTranslation = 'Free!';
        var freeShippingTranslation = 'Free shipping!';
        var generated_date = 1480516935;
        var hasDeliveryAddress = false;
        var highDPI = false;
        var id_lang = 1;
        var img_dir = 'http://ld-prestashop.template-help.com/prestashop_59032/themes/theme1351/img/';
        var instantsearch = true;
        var isGuest = 0;
        var isLogged = 0;
        var isMobile = false;
        var is_logged = false;
        var loggin_required = 'You must be logged in to manage your wishlist.';
        var max_item = 'You cannot add more than 2 product(s) to the product comparison';
        var min_item = 'Please select at least one product';
        var module_url = 'http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&amp;module=tmnewsletter&amp;controller=default&amp;id_lang=1';
        var mywishlist_url = 'http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=blockwishlist&controller=mywishlist&id_lang=1';
        var nbItemsPerLine = 2;
        var nbItemsPerLineMobile = 2;
        var nbItemsPerLineTablet = 2;
        var page_name = 'category';
        var param_product_url = '#';
        var placeholder_blocknewsletter = 'Enter your e-mail';
        var popup_status = true;
        var priceDisplayMethod = 1;
        var priceDisplayPrecision = 2;
        var quickView = true;
        var removingLinkText = 'remove this product from my cart';
        var request = 'http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_category=12&controller=category&id_lang=1&id_lang=1';
        var roundMode = 2;
        var search_url = 'http://ld-prestashop.template-help.com/prestashop_59032/index.php?controller=search';
        var search_url_local = 'http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=tmsearch&controller=search&id_lang=1';
        var static_token = 'ee40ee2976e2a3bc32d1acb84fac5327';
        var tm_cps_carousel_auto = 0;
        var tm_cps_carousel_auto_control = 0;
        var tm_cps_carousel_auto_hover = 1;
        var tm_cps_carousel_auto_pause = 3000;
        var tm_cps_carousel_control = 1;
        var tm_cps_carousel_hide_control = 1;
        var tm_cps_carousel_item_scroll = 1;
        var tm_cps_carousel_loop = 1;
        var tm_cps_carousel_nb = 3;
        var tm_cps_carousel_pager = 0;
        var tm_cps_carousel_random = 0;
        var tm_cps_carousel_slide_margin = 6;
        var tm_cps_carousel_slide_width = 386;
        var tm_cps_carousel_speed = 500;
        var tmnewsletter_status = '2';
        var tmolarkchat_status = '2';
        var tmsearch_description = true;
        var tmsearch_height = 180;
        var tmsearch_image = true;
        var tmsearch_limit = true;
        var tmsearch_limit_num = 4;
        var tmsearch_manufacturer = true;
        var tmsearch_price = true;
        var tmsearch_reference = true;
        var tmsearch_scroll = false;
        var toBeDetermined = 'To be determined';
        var token = 'f8ef81e9468b6caa6fba0909ab82fe47';
        var user_newsletter_status = 0;
        var usingSecureMode = false;
        var wishlistProductsIds = false;
    </script>


    @Scripts.Render("~/bundles/jquery")
    <script src="/assets/js/jquery/plugins/jquery.easing.js"></script>
    <script src="/assets/js/tools.js"></script>
    <script src="/assets/js/global.js"></script>
    <script src="/assets/js/autoload/10-bootstrap.min.js"></script>
    <script src="/assets/js/autoload/14-device.min.js"></script>
    <script src="/assets/js/autoload/15-jquery.total-storage.min.js"></script>
    <script src="/assets/js/autoload/15-jquery.uniform-modified.js"></script>
    <script src="/assets/js/autoload/16-jquery.scrollmagic.min.js"></script>
    <script src="/assets/js/autoload/17-jquery.scrollmagic.debug.js"></script>
    <script src="/assets/js/autoload/18-TimelineMax.min.js"></script>
    <script src="/assets/js/autoload/19-TweenMax.min.js"></script>
    <script src="/assets/js/autoload/20-jquery.bxslider.js"></script>
    <script src="/assets/js/autoload/21-modernizr_v2_7_2.min.js"></script>
    <script src="/assets/js/autoload/22-jquery.jscrollpane.js"></script>
    <script src="/assets/js/jquery/plugins/fancybox/jquery.fancybox.js"></script>
    <script src="/assets/js/products-comparison.js"></script>
    <script src="/assets/js/modules/blockcart/ajax-cart.js"></script>
    <script src="/assets/js/jquery/plugins/jquery.scrollTo.js"></script>
    <script src="/assets/js/jquery/plugins/jquery.serialScroll.js"></script>
    <script src="/assets/js/jquery/plugins/bxslider/jquery.bxslider.js"></script>
    <script src="/assets/js/tools/treeManagement.js"></script>
    <script src="/assets/modules/blockfacebook/blockfacebook.js"></script>
    <script src="/assets/js/modules/blocknewsletter/blocknewsletter.js"></script>
    <script src="/assets/js/jquery/plugins/autocomplete/jquery.autocomplete.js"></script>
    <script src="/assets/js/modules/blocksearch/blocksearch.js"></script>
    <script src="/assets/js/modules/homeslider/js/homeslider.js"></script>
    <script src="/assets/modules/tmsociallogin/views/js/front.js"></script>
    <script src="/assets/js/validate.js"></script>
    <script src="/assets/modules/tmheaderaccount/views/js/front.js"></script>
    <script src="/assets/modules/tmproductvideos/views/js/video/video.js"></script>
    <script src="/assets/modules/tmnewsletter/views/js/tmnewsletter.js"></script>
    <script src="/assets/js/modules/tmsearch/views/js/tmsearch.js"></script>
    <script src="/assets/modules/tmmegamenu/views/js/hoverIntent.js"></script>
    <script src="/assets/modules/tmmegamenu/views/js/superfish.js"></script>
    <script src="/assets/js/modules/tmmegamenu/views/js/tmmegamenu.js"></script>
    <script src="/assets/modules/tmmosaicproducts/views/js/tmmosaicproducts.js"></script>
    <script src="/assets/modules/tmmosaicproducts/views/js/video/video.js"></script>
    <script src="/assets/modules/tmnewsletter/views/js/tmnewsletter.js"></script>
    <script src="/assets/modules/tmdaydeal/views/js/jquery.countdown.js"></script>
    <script src="/assets/modules/tmdaydeal/views/js/tmdaydeal.js"></script>
    <script src="/assets/modules/tmmegalayout/views/js/tmmegalayout.js"></script>
    <script src="/assets/js/modules/blockwishlist/js/ajax-wishlist.js"></script>
    <script src="/assets/modules/tmmediaparallax/views/js/jquery.rd-parallax.min.js"></script>
    <script src="/assets/modules/tmmediaparallax/views/js/jquery.youtubebackground.js"></script>
    <script src="/assets/modules/tmmediaparallax/views/js/jquery.vide.min.js"></script>
    <script src="/assets/modules/tmmediaparallax/views/js/tmmediaparallax.js"></script>
    <script src="/assets/modules/themeconfiglink/views/js/themeconfiglink.js"></script>
    <script src="/assets/modules/tmmegalayout/views/js/layouts/Home1.js"></script>
    <script src="/assets/js/index.js"></script>
    <script src="~/assets/js/category.js"></script>
    <script src="/assets/js/product.js"></script>
    <script src="/assets/modules/tmproductzoomer/views/js/tmproductzoomer.js"></script>
    <script src="/assets/modules/productcomments/js/productcomments.js"></script>
    
</head>

<body >

        <div class="header-container">
            <header id="header">

                <div class="nav">
                    <div class="header-mobile-top"></div>
                    <span class="trigger"></span>
                    <nav>

                        <div class="wrapper it_ODOONMOADCEP ">
                            <div class="row it_LYEKFYRNLQBO ">
                                <div class="it_WAYPXAFBNFPG col-xs-12   col-lg-12 padding-zero">

                                    @Html.Action("_Logo", "Home")

                                    <div class="module ">
                                        <div id="header-login">
                                            <div class="current header_user_info  fl-outicons-upload142 ">
                                                <span class="login-status">
                                                    Sign in
                                                </span>
                                            </div>

                                            <ul id="header-login-content" class="toogle_content">
                                                <li class="trigger-close"></li>
                                                <li>
                                                    <form action="" method="post" id="header_login_form">
                                                        <div id="create_header_account_error" class="alert alert-danger" style="display:none;"></div>
                                                        <div class="form_content clearfix">
                                                            <div class="form-group">
                                                                <input class="is_required validate account_input form-control" placeholder="Email address" data-validate="isEmail" type="text" id="header-email" name="header-email" value="" />
                                                            </div>
                                                            <div class="form-group">
                                                                <span><input class="is_required validate account_input form-control" placeholder="Password" type="password" data-validate="isPasswd" id="header-passwd" name="header-passwd" value="" autocomplete="off" /></span>
                                                            </div>
                                                            <p class="submit">
                                                                <button type="button" id="HeaderSubmitLogin" name="HeaderSubmitLogin" class="btn btn-lg btn-primary">
                                                                    <i class="fa fa-lock left"></i>
                                                                    Sign in
                                                                </button>
                                                            </p>
                                                            <p>
                                                                <a href="" class="create btn btn-drop btn-lg">Create an account</a>
                                                            </p>

                                                            <div class="clearfix">

                                                                <a class="btn btn-default btn-sm btn-login-facebook" href="" title="Login with Your Facebook Account">
                                                                    Facebook Login
                                                                </a>
                                                                <a class="btn btn-default btn-sm btn-login-google" href="" title="Login with Your Google Account">
                                                                    Google Login
                                                                </a>
                                                                <a class="btn btn-default btn-sm btn-login-vk" href="" title="Login with Your VK Account">
                                                                    VK Login
                                                                </a>

                                                            </div>

                                                            <p class="forgot_password">
                                                                <a href="" class="forgot-password">Forgot your password?</a>
                                                            </p>
                                                        </div>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="module ">
                                        <div class="search_box">
                                            <span class="current current_search"></span>
                                            <div id="search-popup" class="toogle_content">
                                                <div id="tmsearch">
                                                    <span class="trigger-close"></span>

                                                    <form id="tmsearchbox" method="get" action="//ld-prestashop.template-help.com/prestashop_59032/index.php?controller=search">
                                                        <input type="hidden" name="controller" value="search" />
                                                        <input type="hidden" name="orderby" value="position" />
                                                        <input type="hidden" name="orderway" value="desc" />
                                                        <input class="tm_search_query form-control" type="text" id="tm_search_query" name="search_query" placeholder="Search..." value="" />
                                                        <button type="submit" name="tm_submit_search" class="btn btn-default button-search">
                                                            <span>Search</span>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    @*<div class="module ">
                                            <div id="languages-block-top" class="languages-block">
                                                <div class="current">
                                                    <span>en</span>
                                                </div>
                                                <ul id="first-languages" class="languages-block_ul">
                                                    <li class="selected">
                                                        <span>en</span>
                                                    </li>
                                                    <li>
                                                        <a href="" title="Deutsch" rel="alternate" hreflang="de">
                                                            <span>de</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="Русский" rel="alternate" hreflang="ru">
                                                            <span>ru</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="Español" rel="alternate" hreflang="es">
                                                            <span>es</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="" title="Français" rel="alternate" hreflang="fr">
                                                            <span>fr</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>*@

                                    <div class="module ">
                                        <ul id="header_links">
                                            <li id="header_link_home" class="active_mod">
                                                <a class="active" href="" title="Plumbre">
                                                    İletişim
                                                </a>
                                            </li>

                                            <li id="header_link_contact">
                                                <a href="@Url.Action(" Contact","Home")" title="contact">
                                                    Bize Ulaşın
                                                </a>
                                            </li>

                                            <li id="header_link_sitemap">
                                                <a href="@Url.Action(" Location","Home")" title="sitemap">
                                                    Neredeyiz ?
                                                </a>
                                            </li>
                                        </ul>
                                    </div>


                                    <div class="module ">
                                        <ul id="header_links">
                                            <li id="header_link_home" class="active_mod">
                                                <a class="active" href="@Url.Action("Index","Haber")" title="Plumbre">
                                                    Haberler
                                                </a>
                                            </li>

                                            <li id="header_link_contact">
                                                <a href="@Url.Action(" blog","haber")" title="contact">
                                                    Blog
                                                </a>
                                            </li>

                                            <li id="header_link_sitemap">
                                                <a href="@Url.Action(" basındabiz","haber")" title="sitemap">
                                                    Basında biz
                                                </a>
                                            </li>

                                        </ul>
                                    </div>

                                    <div class="module ">
                                        <ul id="header_linksA">
                                            <li id="header_link_home" class="active_mod">
                                                <a class="active" href="">
                                                    Ürünler
                                                </a>
                                            </li>

                                        </ul>
                                    </div>


                                    <div class="module ">
                                        <ul id="header_links">
                                            <li id="header_link_home" class="active_mod">
                                                <a class="active" href="" title="Plumbre">
                                                    Kurumsal
                                                </a>
                                            </li>

                                            <li id="header_link_contact">
                                                <a href="@Url.Action(" about","home")" title="contact">
                                                    hakkımızda
                                                </a>
                                            </li>

                                            <li id="header_link_sitemap">
                                                <a href="@Url.Action(" vizyon","home")" title="sitemap">
                                                    vizyon/misyon
                                                </a>
                                            </li>

                                            <li id="header_link_blog">
                                                <a href="@Url.Action(" sss","home")">
                                                    Sıkça Sorulan Sorular
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="module ">
                                        <ul id="header_linksA">
                                            <li id="header_link_home" class="active_mod">
                                                <a class="active" href="@Url.Action("Index","Home")">
                                                    Anasayfa
                                                </a>
                                            </li>
                                        </ul>
                                    </div>


                                </div>
                            </div>
                        </div>

                        @Html.Action("_AnaBasliklar", "Home")

                    </nav>

                </div>
            </header>
        </div>


        @RenderBody()


        <div class="footer-container">
            <div id="footer">

                <div class="row it_RHAJEABBMCMA pd_mod text-center overflow_mod">
                    <div class="it_GXBVLEMMVRXH col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                        <div class="module ">
                            <section id="block_contact_infos" class="footer-block  ">
                                <div>
                                    <h4>Store Information</h4>
                                    <ul>
                                        <li>
                                            <i class="fl-outicons-house204"></i>
                                            My Company
                                            , 28 Jackson Blvd Ste 1020, Chicago IL 60604-2340
                                        </li>
                                        <li>
                                            <i class="fl-outicons-phone14"></i>
                                            Call us now:
                                            <span>
                                                <a href="tel:800-2345-6789">
                                                    800-2345-6789
                                                </a>
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fl-outicons-mail2"></i>
                                            Email:
                                            <span><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%69%6e%66%6f%64%65%6d%6f%6c%69%6e%6b.%6f%72%67">&#x69;&#x6e;&#x66;&#x6f;&#x40;&#x64;&#x65;&#x6d;&#x6f;&#x6c;&#x69;&#x6e;&#x6b;&#x2e;&#x6f;&#x72;&#x67;</a></span>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="it_JMECMGDRPUQZ col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                        <div class="module ">
                            <section id="social_block">
                                <h4>Follow us</h4>

                                <ul>
                                    <li class="facebook">
                                        <a target="_blank" href="https://www.facebook.com/TemplateMonster/" title="Facebook">
                                            <span>Facebook</span>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a target="_blank" href="https://twitter.com/TemplateMonster" title="Twitter">
                                            <span>Twitter</span>
                                        </a>
                                    </li>
                                    <li class="google-plus">
                                        <a target="_blank" href="https://plus.google.com/+TemplateMonster" title="Google Plus" rel="publisher">
                                            <span>Google Plus</span>
                                        </a>
                                    </li>
                                    <li class="instagram">
                                        <a class="_blank" href="https://www.instagram.com/template_monster/">
                                            <span>Instagram</span>
                                        </a>
                                    </li>
                                </ul>

                            </section>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="it_NFQVAVEYJTTN col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                        <div class="module ">
                            <div id="newsletter_block_left" class="block">
                                <h4><span class="badge_heading"></span>Newsletter</h4>

                                <div class="block_content">
                                    <form action="//ld-prestashop.template-help.com/prestashop_59032/index.php" method="post">
                                        <div class="form-group">
                                            <input class="inputNew form-control grey newsletter-input" id="newsletter-input" type="text" name="email" size="18" value="Enter your e-mail" autocomplete="off" />
                                            <button type="submit" name="submitNewsletter" class="btn btn-default btn-sm">
                                                <span>Ok</span>
                                            </button>
                                            <input type="hidden" name="action" value="0" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row it_VMIWXOBDWQWJ border_top_mod text-center">
                    <div class="it_NBXYSJNKQDJJ    col-lg-12 ">
                        <div class="bottom-footer">
                            <a class="_blank" href="http://www.prestashop.com"> © 2016 - Ecommerce software by PrestaShop™ </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

</body>

</html>
